/* Portrait and Landscape */
@media only screen and (min-width: 220px) and (max-width: 768px) {
  #header .logo-wrapper {
    z-index: 99999; }
  #header #logo {
    width: 100px;
    height: 100px;
    margin-top: -70px;
    background-size: contain; }
  #header .navbar-default {
    background: none;
    border: none; }
  #header .navbar-collapse {
    background-color: #fff;
    text-align: center;
    overflow: visible;
    padding-bottom: 60px; }
    #header .navbar-collapse .address {
      display: none; }
    #header .navbar-collapse .nav li {
      height: 30px;
      line-height: 30px; }
      #header .navbar-collapse .nav li a {
        color: #747474; }

  .nav-pills {
    padding: 10px 0 10px 31px; }
    .nav-pills li {
      margin-top: 0px;
      margin-right: 17px; }

  .main-article {
    padding: 0 20px; }

  .category-wrapper {
    text-align: center; }
    .category-wrapper h3 {
      margin-bottom: 0; }

  .main-article #tags .list-heading {
    float: none;
    text-align: center;
    margin-bottom: 10px; }

  #tags li {
    margin-bottom: 5px; }

  .thumb {
    margin-bottom: 20px; }

  .article-item .category-wrapper {
    text-align: left; }

  .preview {
    float: none !important;
    clear: both;
    margin-top: 50px !important; }
    .preview ul {
      margin-left: -47px !important; }

  .previews-count {
    float: none !important; }

  .tags li {
    margin-bottom: 8px; }

  .man {
    display: none; }

  .service-wrapper .jumbo p, .service-wrapper .jumbo button {
    margin-bottom: 25px; }
  .service-wrapper .jumbo .service-image {
    text-align: center; }
    .service-wrapper .jumbo .service-image img {
      display: inline-block;
      max-width: 100%;
      height: auto; }
  .service-wrapper .jumbo .btn-red {
    padding: 10px 15px;
    font-size: 12px; }
  .service-wrapper #blog {
    margin-top: 60px; }
    .service-wrapper #blog .featured-article {
      margin-bottom: 40px; }
    .service-wrapper #blog #articles-list {
      text-align: center; }
      .service-wrapper #blog #articles-list .tags-listing {
        margin: 0 auto;
        max-width: 390px; }
      .service-wrapper #blog #articles-list .img-responsive {
        margin: 0 auto; }
  .service-wrapper #about {
    text-align: center;
    padding: 25px 0 15px 0; }
    .service-wrapper #about .author-image {
      margin-bottom: 10px; }
    .service-wrapper #about #author-contact ul li {
      margin-bottom: 10px;
      margin-right: 0; } }
/* Portrait and Landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  #header .address {
    display: none; }

  .user-menu {
    margin-left: 6px; }

  .user-menu .dropdown-toggle {
    overflow: hidden;
    text-overflow: ellipsis; }

  .thumb {
    margin-bottom: 20px; }

  .article-item .category-wrapper {
    text-align: left; }

  .man {
    display: none; }

  .service-wrapper .jumbo p, .service-wrapper .jumbo button {
    margin-bottom: 25px; }
  .service-wrapper .jumbo .service-image {
    text-align: center; }
  .service-wrapper #blog {
    margin-top: 60px; }
    .service-wrapper #blog .featured-article {
      margin-bottom: 40px; }
    .service-wrapper #blog #articles-list {
      text-align: center; }
      .service-wrapper #blog #articles-list .tags-listing {
        margin: 0 auto;
        max-width: 390px; }
      .service-wrapper #blog #articles-list .img-responsive {
        margin: 0 auto; }
  .service-wrapper #about {
    text-align: center; } }

/*# sourceMappingURL=responsive.css.map */
