@import 'vars';

// COMMON STYLES

* {
	box-sizing: border-box;
}

/* Clearfix Class */
.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.no-margin {
	margin: 0;
}

.no-right-margin {
	margin-right: 0 !important;
}

.container-full {
	//margin: 0 auto;
	width: 100%;
	padding: 0;
	margin: 0;


}

body {
	margin: 0;
	padding: 0;
	font-family: $museoregular;
}

// HEADER SECTION 
#header {	
	width: 100%;
	height: 100px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);	
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
	background: $middle-grey-subtitle url('../img/header-bg.png') 0 0;
	background-size: contain;
	

	.navbar-default {
			background: none;
			border: none;

			a {
				background: none;
			}
		}

	#logo {
		margin:0 auto;
		margin-top: -105px;
		width: 144px;
		height: 144px;
		background-image: url('../img/logo.png');
	}	


	.navbar {
		li {
			height: 100px;
			line-height: 100px;
		}

		a{
			position: relative;

			color: $white;
			opacity: 0.4;	
			text-decoration: underline;
			font-family: $museoregular, sans-serif;
			display: inline-block;
			margin-left: 0;
			padding: 0;
			margin-right: 24px;
			font-size: em(19);
			box-sizing: content-box;
			margin-top: 0;
			transition: opacity .2s ease-out;
			top: 0;
		}  

		a:hover {
			background: none;
			opacity: 1;
		}

		a:active {
			top: 1px;
			background: none;
		}

		a:visited, a:focus {
			background: none;
		}



		.active a {
			text-decoration: none;
			opacity: 1;
		}

		.navbar-right {
			.address {				
				color: #BCBCBC;
				width: 169px;
			
				span {
					position: relative;
					display: inline-block;
					font: normal em(18.5)/em(17) $museomedium, sans-serif;
					top: 11px;
					line-height: 20px;
				}
			}



			button {
				padding: 12px 40px;
				letter-spacing: 1px;
				color: $middle-grey-subtitle;
				text-transform: uppercase;
				font: normal em(16)/em(17) $museomedium, sans-serif;
 				border-radius: 100px;
		    background-image: linear-gradient(to top, #c3c3c3 0%, #e8e8e8 33%, #bababa 69%, #8e8e8e 100%);
		    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 			}
		}

		
	}
	
}

// MAIN SECTION
.row-centered {
    text-align:left;
    max-width: 800px;
    margin: 0 auto;
}

.col-centered {		
    float:none;
}

.col-fixed {
    /* custom width */
    width:320px;
}

.divider {
margin-top: -10px;
width: 90%;
height: 3px;
background-color: #EDEDED;
}

.nav-pills {
	padding-left: 31px;

	li {
		margin-top: 25px;
		margin-right: 17px;
	}

	a {
		color: $light-grey;
		font: normal em(16)/em(24) $museoregular, sans-serif;
	}

	.active {
		color: $middle-grey-subtitle;
		font: normal em(16)/em(24) $museomedium, sans-serif;

	}

	.glyphicon-search {
		font-size: 18px;
	}
}

// ARTICLE
.main-article {

	max-width: 558px;
	margin: 0 auto;
	margin-top: 35px;

	
		time {
			color: $light-grey-info;
			font: normal em(14)/em(26) $museoregular, sans-serif;
		}

		
	

	h1 {
			color: $dark-grey-heading;
			margin-top: -5px;
			font: normal em(34) $museoblack, sans-serif;
		}

	.article-body {


		h2 {

			margin-top: -6px;
			margin-bottom: 16px;
			color: $dark-grey-heading;
			font: normal em(23)/em(23) $museomediumitalic, sans-serif;
		}

		h3 {
			color: $middle-grey-subtitle;
			font: normal em(19)/em(24) $museobold, sans-serif;
		}

		p {
			color: $middle-grey-flow;
			font: normal em(19)/em(24) $museoregular, sans-serif;
			margin-bottom: 20px;
		}

		.quotation {
			color: $middle-grey-subtitle;
			font: normal em(20)/em(25) $museolightitalic, sans-serif;
			text-align: center;
			border-left: none;
			padding: 0;
			padding-top: 10px;
			padding-bottom: 37px;

			hr {
				border: none;
				margin-bottom: 30px;
				width: 266px;
				height: 2px;
				background: $light-grey-info;
			}
		}
	}

	.tags {
		margin-top: 42px;
		.list-heading {
			color: $middle-grey-subtitle-h;
			font: normal em(16)/em(16) $museomedium, sans-serif;
			float: left;
			font-weight: bold;
			margin: 5px 18px 0 0;
		}

		.tags-listing {
			li {
				float: left;
				list-style-type: none;
				padding: 3px 21px;
				margin-right: 14px;
				border: 1px solid $middle-grey-subtitle-l;
				font: normal em(14)/em(24) $museoregular, sans-serif;
				border-radius: 3px;
			}
		}
	}

	.social {
		clear: both;
		margin-top: 18px;
		text-align: center;

		

		.social-wrapper {
			margin: 0 auto;
			width: 155px;
		}
		.social-heading {
			color: $middle-grey-subtitle-h;
			font: bold em(16)/em(16) $museomedium, sans-serif;
			margin-right: 6px;
			float: left;
		}

		.social-listing {
			li {
				float: left;
				list-style-type: none;
				margin-right: 6px;
				margin-top: 6px;
			}
		}
	}

	#article-footer {
		hr {
			width: 85%;
			height: 2px;
			margin-top: -12px;
			
		}
	}
}

// SOCIAL ICONS
.social-listing li {
	width: 15px;
	height: 15px;
}

.social-listing .twitter-icon {
	width: 20px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAPCAYAAAAGRPQsAAAB9ElEQVQ4T52T34raQBTGZzKZJCPtatxu2e0WelUK24sFn8BbRQWFvE+ewytB7wIG4wt4L3jhIpRte1Nb2i6UbpsmzZ+ZnDLiinWNdDuQYZhz8pvvzPkGI4RQtVpVJ5MJl+u8Ydu2Op/Pz4UQR0IIRVXVX6VS6VMQBGkURaZhGD+xZVkkjuPXxWLxfb/fD/bBZE4QBBcYY207TgjJAAAjhL77vr+UMBaG4YUMEEI+uK77bRfYarWeCSHO9h2kKAooihIBwBJL+dPp9PIuUdM0v1AofBkMBj7GGOR+o9F4CQBHeVdACLn2PM+XElGn03kRx/GTnRJSAPAppVGapuUsy4w8ZePxeCZjuFar6YyxE855WQhBDzVhX0xV1WQ0Gl2tYLZtK7PZ7FJ26KEgmU8I+eF53rsVTE71ev0UY3z+PzBN05au695sYHLRbrefCiFOH1KqdEClUrmybXvl0ZWydROeJ0lyDADqvyrUdf3rcDj8eJe/gVmWpSVJ8opz/pcx88DSW4ZhvHEcR9yDyY21008opWXOOcsDYYw5Y+zacZzf2zkbZWuYJp2+67ntH6QVTNN82+v1ot3DcLPZLBBCzjjnjw7dl3w2lNIbQsjn7dLuKZNeWywWx2EYPkYI6ZRSPcsyDACJ/Bhjt6Zp3na73fRQc/4AeRTf0HfUB9EAAAAASUVORK5CYII=) 0 0 no-repeat;
}

.fb-icon {
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAYAAADtc08vAAAA90lEQVQoU9WTsU6EQBCGh5vNBGlQzkaTi0YrLfUxFhIoeB/ehZKShLegv9DoC2ijroHZ7BhMMMbEuz07p/7nm/n/yQRa6xsAiODAQkQXx/EQaK3vD+z9khPRoxcAEV9F5CkMQzbGrADgaqZ4AUTkpeu6YRkrIkGapnfegCiKHpqmea6qSvV9f46IK2ZeewOSJNnWdf1WFMV6mqbL73nttDCnbK0VRBzatjUzYBzHDREBM+PeDZbJPy9UluWRMeb2z4A8z4+Z+XovAABGpZQjojnEd631iVLqDADQWks+gM/tFytZlp065y68Q1yE/wOw8xt/s7B84wdGBJmixXCWUgAAAABJRU5ErkJggg==) 0 0 no-repeat;
}

.gplus-icon {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAB6UlEQVQoU4WSP2/TQBjG787O2bFAwVAI7kJAiCIkhEK+QNZEsa1EcuZ8FH+OrNmSIbI8eM2ciaoTrRhaYMBBTahUV/bZ76Gz6uhUFXrT6dXze/8+GEmPc47H47HJGDM55wbnXEUIFQihRNO0y/l8vsUY8wrB1Wcymejb7fZNnud1OaH8V1X1Jsuyb1EUpSJewgKM4/g9xliRxCmlNMuyjCKENBEXcLPZPJtOp6yERauO43wAAP0WTAgh52EYJlUi27YNRVFe7Ha7H6vVKt+3bdv2AQC8qjJTSr8uFgsx54MP9/v9dxjjx0IJAGdRFF09SN0K8GAw+CS2qigKBEHwRd7mcDh8xhh7el8yQsgVtm37MwBgVVWzIAhOZKHjOIdFUVj3wbVabYdd1/2Y5zklhHBd14/leXu93nNCyIEEi2uUm9c07beo/BoAytYopd+Xy2X8r5lHo5GVpulhpcWe5z1KkuRIBMTcjUbjdDabXd9N4HlenTF2xBgrvWAYxklpErm6aJ9z/qter19uNhvWarXUOI6fUEpfViAhZBOG4UUJ+75P1uv12+pk/zsVIeS60+mc+r4Pe28Lp7muKzbbLIqC3E0gOhIV2+32TwHuvS0Lu92uappmAwAM4XXOeQEAN5Zl/ak8Xen/Avz22EcFGIgzAAAAAElFTkSuQmCC) 0 0 no-repeat;
}

// COMMENTS

#comments {
	margin-top: 25px;
	padding: 0 57px;
	h2 {
		display: none;
	}

	.nav-primary {
    margin: 0 0 24px;
    border-bottom: 2px solid #e7e9ee;

    li {
    	list-style-type: none;
    }
}

}

.tab-conversation {
    float: left;
}

.tab-community {
    float: left;
}

.tab-conversation.active>a {
    color: #2a2e2e!important;
}
.tab-conversation>a {
    text-transform: capitalize;
}
.notification-menu>a {
    position: relative;
    top: -1px;
    margin: 0;
}
.nav-tab-primary a {
    font-size: 15px;
    padding: 12px 0;
    margin-right: 15px;
}
.nav-tab>a {
    color: #7f919e;
    display: block;
    font-weight: 700;
    line-height: 1;
    position: relative;
    transition: all .2s ease-in-out;
}

.nav-tab>a:hover {
	text-decoration: none;
}

.active .nav-tab>a:after, .tab-conversation.active>a:after {
    content: " ";
    display: block;
    height: 2px;
    background: #2e9fff;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
}

.notification-menu {
    float: right;
    margin-top: 11px;
    padding: 0;
    width: 19px;
}

.user-menu .dropdown-toggle {
    max-width: 160px;
    height: 33px;
    margin: 0;
    padding-right: 14px!important;
}

.user-menu .dropdown-toggle-wrapper {
    white-space: nowrap;
}

.notification-loading:before, .thread-likes .label-count:after, .user-menu .dropdown-toggle-wrapper:before {
    content: '';
}

.user-menu .caret {
    top: 9px !important;
    right: 0;
}
.nav .caret {
    display: block;
    position: absolute;
    right: 0;
    top: -3px;
    margin: 0;
    transition: .2s all;
}
.dropdown .caret {
    margin-top: 8px;
    margin-left: 2px;
}
.caret {
    width: 0;
    height: 0;
    text-indent: -99999px;
    vertical-align: top;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000;
    opacity: .3;
    content: "\2193";
}
.caret, .help-icon {
    display: inline-block;
}

.user-menu .dropdown-toggle {
    max-width: 160px;
    height: 33px;
    margin: 0;
    padding-right: 14px!important;
}
.user-menu .dropdown-toggle-wrapper {
    white-space: nowrap;
}

.unread .notification-icon {
    color: #f55567;
}
.notification-icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 19px;
    transition: color .1s;
}

.notification-menu {
    float: right;
    margin-top: 11px;
    padding: 0;
    width: 19px;
}

.notification-menu>a {
    position: relative;
    top: -1px;
    margin: 0;
}

.user-menu {
    float: right;
    margin-left: 10px;
}

.notification-menu>a {
    position: relative;
    top: -1px;
    margin: 0;
}

.unread .notification-icon {
    color: #f55567;
}
.notification-icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 19px;
    transition: color .1s;
}

[class*=" icon-"]:before, [class^=icon-]:before {
    font-family: icons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav-secondary {
    margin: -12px 0 6px -40px;

    li {
    	list-style-type: none;
    }
}

.comment-count-wrapper {
	margin-left: -40px;
}

.recommend {
    float: left;
}
.nav-tab--secondary {
    margin-bottom: 15px;
}

*, .btn-block, .input-block-level {
    box-sizing: border-box;
}

.nav-tab--secondary>a, .nav-tab--secondary>div a {
    width: auto;
    font-size: 13px;
}
.thread-likes a {
    position: relative;
    z-index: 100;
    margin-right: 0;
}
.dropdown-toggle {
    position: relative;
    padding-right: 12px;
    background: 0 0!important;
    color: #7f919e!important;
}


.share-menu {
    float: left;
    margin-left: 15px;
    max-width: none;
    margin-top: 2px;
}

.label-def {
    font-weight: 700;
}

.thread-likes .label-recommended {
    display: none;
}

.pull-right {
    float: right!important;
}
.sorting {
    margin-left: 12px;
}
.nav-tab--secondary {
    margin-bottom: 15px;
}


.sorting .dropdown-toggle {
    padding-right: 14px;
}
.nav-tab--secondary>a, .nav-tab--secondary>div a {
    width: auto;
    font-size: 13px;
}

.active .publisher-nav-color::after {
    background: rgb(59, 89, 152) !important;
}

.comment-count-placeholder, .community-name-placeholder, .media-collapsed .media-toggle-off {
    display: none;
}

.textarea-wrapper--top-level .postbox {
    margin: 0 0 24px;
}
.postbox {
    position: relative;
}

.textarea-wrapper--top-level .avatar {
    position: absolute;
    left: 0;
    transition: left .2s linear;
}
.avatar {
    float: left;
}

.avatar .user {
    position: relative;
    z-index: 100;
    background: #dbdfe4;
    padding: 0;
}
.avatar .user, .avatar img {
    display: block;
    border-radius: 3px;
}

.avatar img {
    width: 48px;
    height: 48px;
}

.textarea-wrapper--top-level .textarea-wrapper {
    margin-left: 60px;
}
.textarea-wrapper {
    background: #fff;
    border: 2px solid #dbdfe4;
    position: relative;
    border-radius: 4px;
    margin: 0 0 0 48px;
}
.input--text, .inputBg, .textarea-wrapper, .user-mention__list {
    -webkit-appearance: none;
}


.post-actions {
    background: #f6f8f9;
    border-radius: 0 0 2px 2px;
    border-top: solid 2px #dbdfe4;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 36px;
    transition: opacity linear .2s;
}

.help-tooltip, .post-actions {
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
}

.textarea {
    color: #2a2e2e;
    cursor: text;
    resize: none;
    border: 0;
    display: block;
    padding: 6px 10px 8px;
    margin: 0;
    width: 100%;
    min-height: 44px;
    height: auto;
    line-height: 0.4;
    font-size: 14px;
    font-family: "Helvetica Neue",arial,sans-serif;
    overflow-y: scroll;
    transition: all .15s ease-in-out;
}

*, .btn-block, .input-block-level {
    box-sizing: border-box;
}


#no-posts {
    opacity: .6;
    line-height: 107px;
}

#no-posts {
    text-align: center;
}


	

	#comments-list {
		clear: both;
			#avatar {
				margin-right: 10px;
			}

			input[type=text] {
				border-radius: 2px;
				border: 1px solid #DBDFE4;
				height: 48px;
			}
	}

	.glyphicon-comments-count {	
		height: 18px;
		width: 18px;
		background-image: url(../img/comments-count-icon.png);
		background-size: cover;
		color: $white;
	}

.notification-count {
    position: absolute;
    top: 4px;
    left: 0;
    width: 17px;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
}
	#avatar {
		float: left;
	}

	.comment-notice {
		clear: both;
	}




// USEFUL ARTICLES 
#useful-articles {
	margin-top: -16px;
	margin-bottom: 53px;
	padding: 0 18px;

	hr {
		width: 90%;
		height: 3px;
		opacity: 0.1;
		background-color: $middle-grey-subtitle;
	}

	h2 {
		margin-top: -5px;
		   margin-bottom: 24px;
		text-align: center;
		color: $light-grey-info;
		letter-spacing: 1px;
		font: bold em(21)/em(22) $museoregular, sans-serif;
	}

	h3 {
		margin-top: 5px;

		color: $middle-grey-aside;
		font: bold em(19)/em(24) $museoregular, sans-serif;
		a {
			color: $middle-grey-aside;
		}
	}



		time {
			color: $light-grey-info;
			font: normal em(14)/em(16) $museoregular, sans-serif;
		}
	}

	.category-wrapper {
		margin-bottom: 20px;
		.category {
			color: $middle-grey-subtitle;
			font: normal em(11)/em(10) $museoregular, sans-serif;
			background: #EDEDED;
			display: inline-block;
			padding: 8px 8px 6px 8px;

		}

	
}

// ARTICLES LIST
#articles-list {
	.featured-article {
		margin-top: 12px;

		.datetime-wrapper {
			float: none;
			margin-top: 18px;
		}

		.category-wrapper {
			margin-top: -3px;
			margin-bottom: 20px;
			text-align: left;
		}

		h1 {
				margin-top: -13px;
		    margin-bottom: -13px;
		    a {
		    	color: $dark-grey-heading;
		    }
		}



		.social {
			margin-top: 2px;
			.social-heading {
				font: bold 12px/24px $museomedium, sans-serif;
				margin-bottom: -4px;
			}

			.social-listing {
				li {
					margin-right: 9px;
    			margin-top: 10px;
				}				
			}
		}

		.featured-article-footer {
			margin-bottom: 10px;
		}


	}

	.datetime-wrapper {
		margin: 0 20px 9px 0; 
		float: left;
	}

	.category-wrapper {
    margin-bottom: 6px;
	}

	

	h2 {
		font: normal 19px/27px $museoregular, sans-serif;
	}

	h3 {
		font: normal 20px/20px $museoblack, sans-serif;
		margin-top: 16px;
		a {
		    	color: $dark-grey-heading;
		    }
	}	

	

	#articles {
		margin-top: 22px;
		.datetime-wrapper {
			margin: -2px 17px 0 0;
		}

		h4 {
			margin-top: -1px;
			font: normal 16px/24px $museomedium, sans-serif;
		}

		.category-wrapper {
			margin: -3px 0 0 2px;
		}

		.tags {
			margin-top: 1px;

			li {
				margin-bottom: 8px;
			}
		}

		.social {
			.social-heading {
				font: bold 12px/24px $museomedium, sans-serif;
				margin-bottom: -4px;
			}

			.social-listing {
				li {
					margin-right: 11px;
    			margin-top: -2px;
				}				
			}
		}

		

		.preview {
			    margin-top: 12px;
		}

		hr {
			margin-top: 0;
		}

		.article-item {
			margin-bottom: 40px;
			
		}
	}
	
	// PAGINATION
	#pagination {
		margin-top: -11px;
		margin-bottom: 66px;
		.pages-count {
			margin-left: 142px;
			color: $middle-grey-subtitle-h;
			font: normal 16px/27px $museoregular, sans-serif;
		}
		.next a {
			border-color: $middle-grey-subtitle-l;
			border-radius: 3px;
			    padding: 7px 16px;
			color: $middle-grey-subtitle-h;
			font: normal 12px/12px $museoregular, sans-serif;
			.glyphicon-menu-right {
				top: 2px;
				left: 1px;
			}
		}


	}



	.tags {
		margin: 0;
		.tags-listing {
			padding-left: 0;
		}
	}

	.social {
		    margin-top: 5px;
		    float: left;
		    .social-wrapper {
		    	margin: 0;
		    	width: 169px;
		    }
	}

	.preview {
		float: right;
		margin-top: 19px;
		    width: 329px;
		.previews-count {
			float: left;
			color: $middle-grey-subtitle-h;
			font: bold 14px/16px $museomedium, sans-serif;
		}
		ul {
			li {
				float: left;
				margin-left: 25px;
				margin-top: -2px;

				a {
					color: $middle-grey-subtitle;
					font: bold 14px/16px $museomedium, sans-serif;
					
				}
			}
		}
	}

	hr {
		clear: both;
	}
}



// FOOTER 
#footer {
	color: $dark-grey-heading;
	font: normal em(12)/em(27) $museoregular, sans-serif;
	text-align: center;
}